#results {
    width: auto;
    height: auto;
    max-height: 600px; /* set a maximum height */
    overflow-y: auto;
    overflow-x: auto;
    transition: all 0.3s ease-in-out;
  }
  
#results * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

